---
import { HeroActions } from "./react/HeroActions"
import {products} from "../data/db";
const prod = products[0];
---
<div class="p-6 max-w-[450px] lg:p-0">
    <div class="mb-6">
        <p class="text-darkGrayishBlueCustom font-bold uppercase text-[13px] tracking-widest mb-2">{prod.company}</p>
        <h1 class="font-black text-[29px] text-veryDarkBlueCustom mb-4 leading-tight lg:text-4xl lg:mb-8">{prod.name}</h1>
      
       <p class="text-darkGrayishBlueCustom  text-[15px] leading-[1.8] md:text-base">
            {prod.description}
        </p>

    </div>
    <HeroActions product={prod} client:load/>
</div>
